body {
	background: #e44cf1;
}

#banner {
	width:50%;
	margin-left: 25%;

}

.principal{
	background: #e44cf1;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align:center
}

p {
	text-align: justify;
	
}

#missao {
	font-size: 20px
}

em strong {
	color: #000000;
}

.itens {
	font-style:normal
}

.beneficios {
	background: #e44cf1;
	padding: 20px;
}

ul {
	display:inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembrosh {
	width: 100%;
}